.nv {
  width: 100%;
  height: 20px;
  background-color: black;
}

.container {
  background-color: rgba(128, 128, 128, 0.233);
  width: 100%;
  height: 100vh;
  position: relative;
  border:2px solid red;
}

.todoContainer {
  background-color: white;
  width: 80%;
  border: 2px solid black;
  position: absolute;
  margin-left: 10%;
  margin-top: 5%;
}

h2 {
  display: inline-block;
}

.inptxt {
  width: 98%;
  height: 40px;
  overflow: hidden;
}

ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

.test {
  display: inline-block;
  float: right;
  position: absolute;
  right: 0;
}

.test::after {
  content: '\2807';
  font-size: 20px;
}

.delEd {
  display: inline-block;
  float: right;
  position: absolute;
  right: 0;
  font-size: 16px;
  margin-top: -35px;
}

.hide {
  display: none;
}

.cls {
  width: 100%;
  height: 40px;
}

.ref {
  float: right;
  font-size: 16px;
  margin-top: 20px;
}

li.completed {
  text-decoration: line-through;
}

.dynInp {
  width: 1100px;
  height: 46px;
  background-color: blanchedalmond;
}
