* {
  font-family: "Courier New", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", serif;
  background-color: #3f2e3e;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  padding: 35px 50px;
  justify-content: center;
  background-color: rgb(101, 101, 247);
}

header span {
  border: 2px solid yellowgreen;
  padding: 6px 6px;
  margin-right: auto;
}

header span a {
  text-decoration: none;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 11px 0;
}

header nav ul li {
  padding: 0 40px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  transition: 0.5s;
}

header nav ul li a:hover {
  color: rgb(84, 255, 5);
}

header nav ul li:first-child a {
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

footer {
  margin-top: auto;
  padding: 20px 20px;
  color: #fff;
  background-color: rgb(92, 92, 247);
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  justify-items: flex-start;
  max-height: calc(100vh - 20px);
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.movie img {
  width: 200px;
  height: 300px;
  max-width: 100%;
}

.heartCount {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.anc {
  text-decoration: none;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.sect {
  display: flex;
  flex-direction: column;
  width: 54%;
  height: 70px;
  background-color: #8f658c;
  border: 2px solid rgb(92, 92, 247);
  border-radius: 10px;
}


.model {
  position: absolute;
  opacity: 0.9;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #c1c7d0;
  display: none;
}

.cItems {
  display: flex;
  opacity: 1;
  z-index: 1;
  width: 40%;
  min-height: 100vh;
  background: white;
  border: 2px solid rgb(0, 132, 255);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.commentImg {
  margin-top: -50%;
  width: 250px;
  height: 300px;
}

.close {
  position: absolute;
  font-weight: bold;
  z-index: 1;
  font-size: 45px;
  color: rgb(0, 132, 255);
  margin-top: -42%;
  margin-left: 37%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.itemSection {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  position: absolute;
  width: auto;
  border: 2px solid rgba(0, 128, 0, 0.637);
  color: #000;
  background: #e6b3e2;
  padding: 1%;
  margin-top: 10%;
  border-radius: 10px;
}

.inptxt {
  font-size: 20px;
  width: 300px;
  height: 25px;
  border: 2px solid rgba(0, 128, 0, 0.637);
  border-radius: 10px;
}

.inpSect {
  position: absolute;
  margin-top: 8%;
  margin-left: -18%;
  padding-top: -40%;
  border-radius: 10px;
  
}

.subBtn {
  margin-left: 35%;
  margin-top: 1%;
  font-size: 20px;
  width: 100px;
  height: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}